html, body {
	margin: 0;
	padding: 0;
}

hr {
	border-color: #ccc;
}

#left-large, #right-large {
	font-size: 5em;
	font-family: serif;
	text-align: center;
}

.container {
	padding: 50px 0 0 0;
}

.dropdownSection {
	position: absolute;
	top: 10px;
	right: 10px;
}

.dropdownSection span {
	color: #fff;
	font-size: 16px;
	padding: 4px 10px;
}

.dropdownSection span, .dropdownSection select {
	display: block;
	float: left;
}

.centerStage p.large {
	font-size: 10em;
}

.liveStream {
	border-right: 1px solid #ccc;
	padding-bottom: 0;
	padding-right: 0;
}

.staticStats {
	padding-bottom: 0;
	padding-left: 0;
}

table {
	width: 100%;
}

.liveStream table {
	margin-bottom: 15px;
}

.liveStream th, .liveStream td {
	text-align: center;
	padding: 8px 0;
	font-size: 24px;
	width: 50%;
}

.staticStats .averages td, .staticStats .averages th {
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	width: 50%;
}

.staticStats td, .staticStats th {
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	width: 20%;
}

.staticStats .highest td:first-child, .staticStats .highest th:first-child, .staticStats .lowest td:first-child, .staticStats .lowest th:first-child {
	font-weight: bold;
	text-align: right;
}
.staticStats .highest td:last-child, .staticStats .highest th:last-child, .staticStats .lowest td:last-child, .staticStats .lowest th:last-child {
	width: 60%;
}

.noMarg {
	margin: 0;
}

.footPadding {
	padding: 0 0 200px 0;
}